body{
        
        font-family: "Lucida Console", "Courier New", monospace;
        color: white;
        background-image: url("giphy.gif");
        background-size: cover;
        background-repeat: no-repeat, repeat;
        background-color: black;
        height: 100px;
    padding:0;
    margin:0;
}
.rickroll{
        font-weight: bolder;
        color: greenyellow;
}
.thisiswherethefunbegins{
        font-weight: 600;
        color: yellowgreen
}